@media (min-width: 1024px) {
    .menu-div{
        width: 95vw;
        margin: 0 auto;
        padding: 5vh 0;
    }
    .main-layout{
        display: flex;
        justify-content: space-between;
    }
    .main-layout li>a{
        font-size: 22px;
        font-weight: 800;
    }
    .main-men{
        display: block;
        text-align: center;
        font-size: 33px;
        font-weight: 800;
        padding: 15vh 0;
    }
    .goback-to-port{
        text-align: center;
        font-size: 17px;
        display: block;
        padding: 10px;
    }
    .golink{
        text-decoration: underline;
        font-weight: 800;
    }
    .golink:hover{
        color: #19ce60;
    }
}
@media (max-width: 1023px) and (min-width: 678px){
    .menu-div{
        width: 90vw;
        margin: 0 auto;
        padding: 5vh 0;
    }
    .main-layout{
        display: flex;
    }
    .main-layout li>a{
        font-size: 18px;
        font-weight: 800;
    }
}
@media (max-width: 677px){

}




*{
    margin:0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

ul,li{
    list-style: none;
}
